.DS_Store
.cloudflare
.env
.netlify
.pnpm-debug.log
.svelte-kit
.test-tmp
.turbo
.vercel
.vercel_build_output
.vscode/
/build
/documentation/types.js
/packages/create-svelte/template/CHANGELOG.md
/packages/package/test/**/package
dist
node_modules
package-lock.json
symlink-from
test-results/
vite.config.js.timestamp-*
yarn.lock
.eslintignore
.eslintrc.cjs
.prettierignore
.prettierrc
package-lock.json
